
.navbar {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }
  
  .nav-link {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #555;
  }
  